<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBnixB7u0RlXzUsPhdmmxo-agQNEmbu9cI</string>
	<key>GCM_SENDER_ID</key>
	<string>685461016009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fitable.clientapp</string>
	<key>PROJECT_ID</key>
	<string>fitable-fb2b9</string>
	<key>STORAGE_BUCKET</key>
	<string>fitable-fb2b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685461016009:ios:b3efb02bfbd1b92531ec18</string>
</dict>
</plist>